<section *ngIf="isAdmin"
         class="app-employees">
  <ul>
    <li>
      <p>ID</p>
      <p>USERNAME</p>
      <p>NAME</p>
      <p>SURNAME</p>
      <p>IS ADMIN</p>
      <p>LAST LOGIN</p>
    </li>
    <li *ngFor="let employee of employees">
      <p> {{ employee.id }}</p>
      <p> {{ employee.username }}</p>
      <p> {{ employee.first_name }}</p>
      <p> {{ employee.last_name }}</p>
      <p> {{ employee.is_superuser }}</p>
      <p> {{ employee.last_login | date:'short' }} </p>
    </li>
  </ul>
  <div>
    <button class="tasks-button">Add new employee</button>
  </div>
</section>

<section *ngIf="!isAdmin">
  brak uprawnień do podglądu pracowników
</section>
