<section *ngIf="isAdmin"
         class="app-create-employee">
  <h1>Add new employee</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first_name">First name</label>
      <input [(ngModel)]="newEmployee.first_name"
             name="first_name"
             id="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input [(ngModel)]="newEmployee.last_name"
             name="last_name"
             id="last_name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="newEmployee.username"
             name="username"
             id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="newEmployee.password"
             name="password"
             id="password">
    </div>
    <div class="form-group">
      <label for="superuser">Admin</label>
      <select [(ngModel)]="newEmployee.is_superuser"
              id="superuser"
              name="superuser"
              required>
        <option *ngFor="let bool of [true,false]" [value]="bool">{{bool}}</option>
      </select>
    </div>




    <div class="submit-btn">
      <button type="submit">Submit</button>
    </div>

  </form>
</section>
<section *ngIf="!isAdmin">
  brak uprawnień do tworzenia użytkowników
</section>
