<section class="tasks">

  <div class="tasks-console">
    <div>
      <button (click)="displayFilter()"
              class="tasks-button">
        Filter tasks
      </button>
      <form *ngIf="newFilter.show">
        <div class="form-group">
          <label for="employee">Employee</label>
          <select [(ngModel)]="newFilter.user"
                  id="employee"
                  name="employee">
            <option *ngFor="let employee of employees"
                    [value]="employee.username">
              {{ employee.username }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="tasktype">Task type</label>
          <select [(ngModel)]="newFilter.task_type"
                  id="tasktype"
                  name="tasktype">
            <option *ngFor="let type of taskTypes"
                    [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select [(ngModel)]="newFilter.status"
                  id="status"
                  name="status">
            <option *ngFor="let st of status" [value]="st">{{ st }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="priority">Priority</label>
          <select [(ngModel)]="newFilter.priority"
                  id="priority"
                  name="priority">
            <option *ngFor="let prio of priority"
                    [value]="prio">
              {{ prio }}
            </option>
          </select>
        </div>
        <div>
          <button (click)="applyFilter()">Apply filter</button>
          <button (click)="clear()" class="clear-btn">Clear</button>
        </div>
      </form>
    </div>
    <button *ngIf="isAdmin"
            class="tasks-button"
            routerLink="/tasks/add">
      Add new task
    </button>
  </div>

  <ul *ngIf="tasks.length>0">
    <li>
      <div (click)="sortByID()">
        <p>ID</p>
        <i class="fas fa-arrow-{{ idSort }}"></i>
      </div>
      <div (click)="sortByPriority()">
        <p>PRIORITY</p>
        <i class="fas fa-arrow-{{ prioritySort }}"></i>
      </div>
      <p class="task-desc">DESCRIPTION</p>
      <div (click)="sortByTaskType()">
        <p>TASK TYPE</p>
        <i class="fas fa-arrow-{{ typeSort }}"></i>
      </div>
      <div (click)="sortByStatus()">
        <p>STATUS</p>
        <i class="fas fa-arrow-{{ statusSort }}"></i>
      </div>
      <p *ngIf="isAdmin">EMPLOYEE</p>
      <button class="tasks-button">Edit</button>
    </li>
    <li *ngFor="let task of tasks">
      <p>{{ task.id }}</p>
      <p> {{ task.priority }}</p>
      <p class="task-desc"> {{ task.description }}</p>
      <p> {{ task.task_type }}</p>
      <p> {{ task.status }}</p>
      <p *ngIf="isAdmin"> {{ task.user }} </p>
      <button class="tasks-button"
              routerLink="/tasks/edit/{{ task.id }}"
      >Edit
      </button>
    </li>
  </ul>
  <div *ngIf="tasks.length==0">
    <h1> No tasks to show. </h1>
  </div>
</section>
