<section class="tasks">
  <ul>
    <li>
      <p>ID</p>
      <p>PRIORITY</p>
      <p>DESCRIPTION</p>
      <p>TASK TYPE</p>
      <p>STATUS</p>
      <p *ngIf="isAdmin">EMPLOYEE</p>
      <button class="tasks-button">Edit</button>
    </li>
    <li *ngFor="let task of tasks">
      <p>{{ task.id }}</p>
      <p> {{ task.priority }}</p>
      <p> {{ task.description }}</p>
      <p> {{ task.taskType }}</p>
      <p> {{ task.status }}</p>
      <p *ngIf="isAdmin"> {{ task.user }}</p>
      <button class="tasks-button">Edit</button>
    </li>
  </ul>
  <button class="tasks-button">Add new task</button>
</section>
