.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tasks-button {
  margin: 0;
  border: none;
  color: #fff;
  cursor: pointer;
}

.tasks-console {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.tasks-console form,
.tasks-console > div {
  display: flex;
  align-items: center;
}

.tasks-console form {
  padding: 0 10px;
}

.tasks-console form .form-group{
  padding: 0 10px;
}

.tasks-console form .form-group label{
  margin-right: 5px;
}

.tasks-console form button{
  margin-left: 10px;
  background-color: #709f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.tasks-console > button,
.tasks-console > div > button {
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #b3e769;
}

.tasks-console > div .clear-btn {
  background-color: #dbdbdc;
}

.tasks-console > button:hover {
  background-color: #709f50;
}

.tasks > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tasks > ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: .5px solid #dbdbdc;
}

.tasks > ul li:first-child {
  background-color: #fbfbfc;
  border: none;
  padding: 0 20px;
}

.tasks > ul li p,
.tasks > ul li:first-child div {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tasks > ul li:first-child div p {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5px 0 0;
}

.tasks > ul li p.task-desc {
  width: 500px;
}

.tasks > ul li:first-child p{
  font-size: 16px;
}

.tasks > ul li button{
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 10px;
  background-color: #709f50;
}

.tasks > ul li:first-child button{
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 10px;
  color: transparent;
  background-color: transparent;
  cursor: default;
}
