<section class="tasks">
  <ul>
    <li>
      <div (click)="sortByID()">
        <p>ID</p>
        <i class="fas fa-arrow-{{ idSort }}"></i>
      </div>
      <div (click)="sortByPriority()">
        <p>PRIORITY</p>
        <i class="fas fa-arrow-{{ prioritySort }}"></i>
      </div>
      <p class="task-desc">DESCRIPTION</p>
      <div (click)="sortByTaskType()">
        <p>TASK TYPE</p>
        <i class="fas fa-arrow-{{ typeSort }}"></i>
      </div>
      <div (click)="sortByStatus()">
        <p>STATUS</p>
        <i class="fas fa-arrow-{{ statusSort }}"></i>
      </div>
      <p *ngIf="isAdmin">EMPLOYEE</p>
      <button class="tasks-button">Edit</button>
    </li>
    <li *ngFor="let task of tasks">
      <p>{{ task.id }}</p>
      <p> {{ task.priority }}</p>
      <p class="task-desc"> {{ task.description }}</p>
      <p> {{ task.task_type }}</p>
      <p> {{ task.status }}</p>
      <p *ngIf="isAdmin"> {{ task.user }} </p>
      <button class="tasks-button"
              routerLink="/tasks/edit/{{ task.id }}"
      >Edit</button>
    </li>
  </ul>
  <button *ngIf="isAdmin"
          class="tasks-button"
          routerLink="/tasks/add"
  >Add new task</button>
</section>
